body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-web {
  color: #4d5ae5;
}

.footer-logo .logo-web {
  color: #4d5ae5;
}

.footer-logo .logo-studio {
  color: #2e2f42;
}

.logo-studio {
  color: #2e2f42;
}
