.footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.footer .logo-web {
  color: #4d5ae5;
}

.footer .logo-studio {
  color: #f4f4fd;
}
