.portfolio {
  background-color: #ffffff;
}

.portfolio-title {
  margin: 0 0 72px;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-item {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
}

.portfolio-image {
  height: auto;
}

.portfolio-name {
  margin: 0 0 8px;
  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.portfolio-category {
  margin: 0;
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
