.team {
  background-color: #f4f4fd;
}

.team-title {
  margin: 0 0 72px;

  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
}

.team-image {
  display: block;
  width: 100%;
  height: auto;
}

.team-card-content {
  padding: 32px 16px;
  text-align: center;
}

.team-name {
  margin: 0 0 8px;

  color: #2e2f42;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.team-position {
  margin: 0;

  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
